<h1>Upload a photo</h1>
  <%= simple_form_for @photo, url: '#' do |f| %>
    <%= f.input :photo, as: :file %>
    <%= f.input :caption %>
    <%= f.submit "Upload Your Photo", class: 'btn btn-outline-primary' %>
  <% end %>